#img{
    background-image: url(cuerpo/cuerpo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 3.5;
}

#op{
    flex: 0.5;
    display: flex;
    background-color:darkblue;
}

.link{
    flex: 1;
    display: flex;
    align-items:center;
}

#imgg{
    flex:3.5;
    display: flex;
    flex-flow: row wrap;
    background-color:darkblue
}

#img1{
    margin: 0.6%;
    width: 48.8%;
    background-image: url(combos/comboteque%C3%B1odoble.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img2{
    margin: 0.6%;
    width: 48.8%;
    background-image: url(combos/combodulce.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img3{
    margin: 0.6%;
    width: 48.8%;
    background-image: url(combos/comboduo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img4{
    margin: 0.6%;
    width: 48.8%;
    background-image: url(combos/comobo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*#cajas{
    display: flex;
    flex: 1;
    background-color: black;
   

}
#caja1{
    flex: 2;
    background-color: lightblue;
}
#caja2{
    flex: 1;
    background-color: yellow;
}
#caja3{
    flex: 1;
    background-color: green;
}
#caja4{
    flex: 1;
    background-color: orange;
}*/
